<div class="book-container">
    <div class="text-container">
        <a href="/" class="title-container"> 
            <%= image_tag("Tatl.png", :class => "title" ,:alt => "title") %>
        </a>
        <form class="search-form">
            <div class="search-container">
                <select id="type" name="type" required="required">
                    <option value="" disabled selected>Seleccione</option>
                    <option value="fiction">Fiction</option>
                    <option value="nonfic">Non-Fiction</option>
                    <option value="scimag">Scientific</option>
                </select>
                <input type="search" id="search" name="search"/>
                <button type="submit" id="submit" formaction="/book">
                    <%= image_tag("search.png", :class => "search-icon" ,:alt => "search icon") %>
                </button>
            </div>
        </form>
    </div>

    <div class="book-information">
        <div class="information">
            <div class="book-image">
                <%= image_tag("book-example.jpg", :alt => "book image") %>  
            </div>
            <div class="book-description">
                <h1>Pórtico (La Saga de los Heechee 1)</h1>
                <ul>
                    <li>
                        <p><b>Author:</b> Frederik Pohl</p>
                    </li>
                    <li>
                        <p><b>Format:</b> PDF</p>
                    </li>
                    <li>
                        <p><b>Synopsis:</b> Originariamente publicada en 1977, Pórtico fue siempre para su autor, Frederik Pohl, 
                        lo mejor que jamás escribió, y el libro que lo convirtió en un icono de la ficción especulativa 
                        del siglo XX. Con él nos adentramos en la historia de cómo una misteriosa base espacial, que es 
                        el legado de una civilización extraterrestre, se abre a todas las maravillas del universo... y a 
                        todos sus horrores. Pórtico es el epicentro de una fiebre del oro intergaláctica, una especie de 
                        meteorito ahuecado que contiene los restos de una nave espacial de los Heechee, una antigua 
                        civilización extraterrestre desaparecida antes del origen del hombre. Los humanos solo saben 
                        activar los controles de la nave, pero eso es suficiente para enviarlos a otras galaxias, donde, 
                        si tienen suerte, encontrarán riquezas. Pero ¿qué ocurre cuando no regresan? ¿Llegan al lugar 
                        equivocado en el momento equivocado?</p>   
                    </li>
                </ul>
                <ul class="download-container" type="none">
                    <li> 
                        <a target="_blank" href="<%= @link %>" class="download-link">  
                            <%= image_tag("download.png", :class => "download-icon" ,:alt => "download icon") %> 
                        </a>
                    </li>
                    <li> 
                        <a href="#" class="download-link"> 
                            <%= image_tag("download.png", :class => "download-icon" ,:alt => "download icon") %> 
                        </a>
                    </li>
                    <li> 
                        <a href="#" class="download-link"> 
                            <%= image_tag("download.png", :class => "download-icon" ,:alt => "download icon") %> 
                        </a>
                    </li>
                    <li> 
                        <a href="#" class="download-link"> 
                            <%= image_tag("download.png", :class => "download-icon" ,:alt => "download icon") %> 
                        </a>
                    </li>
                    <li> 
                        <a href="#" class="download-link"> 
                            <%= image_tag("download.png", :class => "download-icon" ,:alt => "download icon") %> 
                        </a>
                    </li>
                </ul>   
            </div>
        </div>
    </div>
</div>