<div class="book-container">
    <%= render template: "layouts/header" %>

    <div class="book-information">
        <div class="information">
            <div class="book-image">
                <%= image_tag("#{@book_info['Image']}", :alt => "book image") %>  
            </div>
            <div class="book-description">
                <h1><%= @book_info['Title'] %></h1>
                <ul>
                    <li>
                        <p><b>Author:</b> <%= @book_info['Author'] %></p>
                    </li>
                    <li>
                        <p><b>Synopsis:</b> <%= @book_info['Synopsis'] %></p>   
                    </li>
                </ul>
                <ul class="download-container" type="none">
                    <% @book_info['Mirrors'].each do |mirrorLink|%>
                        <li> 
                            <a target="_blank" href="<%= mirrorLink %>" class="download-link">  
                                <%= image_tag("download.png", :class => "download-icon" ,:alt => "download icon") %> 
                            </a>
                        </li>
                    <% end %>   
                </ul>   
            </div>
        </div>
    </div>
</div>